html {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1040px;
  padding: 20px 30px;
  margin: 20px auto;
  background-color: antiquewhite;
  border-radius: 15px;
}

h1,
h2,
h3,
h4 {
  font-family: "Berkshire Swash", serif;
  color: #60482c;
}

/*  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

nav {
  display: inline-flex;
  font-family: "Berkshire Swash", serif;
}

nav a {
  padding: 8px;
  font-size: 1.25rem;
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #9d2d6e
}

.logo {
  height: 48px;
}

/*  */

.cta {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
}

.cta-text {
  text-align: center;
}

.cta-text button {
  font-size: 1.25rem;
  border: 2px solid #60482c;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 5px;
}

.cta-text button:hover {
  background-color: #60482c;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.cta-text,
#cta-img {
  flex: 1;
}

/*  */

.main-content {
  padding: 40px 10px;
  border-left: 0;
  border-right: 0;
}

.middle-img {
  width: 100%;
  margin: 30px 0;
}

h4 {
  margin-bottom: 10px;
  text-wrap: balance;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  border-bottom: 2px solid #60482c;
  padding-bottom: 3px;
}

.bottom-content,
.top-content {
  display: flex;
  gap: 30px;
}

.contact {
  padding: 30px 10px;
}

footer {
  text-align: right;
}

footer a {
  color: #60482c;
  text-decoration: none;
}

/*  */


.text-content {
  flex: 1;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}